.container {
    display: flex;
}

.game {
    margin: 16px;
    padding: 12px;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    border-radius: 8px;
}

button:hover {
    cursor: pointer;
}